@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1 class="display-4">Üdv</h1>
        <p>Legjobb helyen jársz!</p>

        <div>
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5eeea355389655.59822ff824b72.gif?fbclid=IwAR0LRWYfE3WWUs1FteI-uXzoBuc7r1oHI3bmVMl1QYXcqLNFFLQfiTbYskg"/>
        </div>
</div>
